language: node_js
sudo: false
node_js:
  - "8"

install:
  - npm install
  - bundle install

before_deploy:
  - travis_wait 30 npm run build

deploy:
  provider: script
  script: bash deploy.sh
  on:
    branch: master
